Infra/MR_Review_Sheet.json
{
  "name": "MR 리뷰 코멘트 Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gitlab/mr-review",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "21aecda2-3c2f-4b3a-ac10-288447a15ea1",
      "name": "GitLab MR Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2336,
        -208
      ],
      "webhookId": "gitlab-mr-review",
      "credentials": {
        "httpHeaderAuth": {
          "id": "N8N_MR_HEADER_AUTH_CREDENTIAL_ID",
          "name": "N8N_MR_HEADER_AUTH_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.object_kind}}",
              "operation": "equal",
              "value2": "merge_request"
            }
          ]
        },
        "options": {}
      },
      "id": "4eaa5a61-0218-45e3-b081-7c400a7f58cf",
      "name": "Is Merge Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2128,
        -208
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "mr_iid",
              "value": "={{$json.body.object_attributes.iid}}"
            },
            {
              "name": "mr_title",
              "value": "={{$json.body.object_attributes.title}}"
            },
            {
              "name": "gitlab_mr_url",
              "value": "={{$json.body.object_attributes.url}}"
            },
            {
              "name": "author",
              "value": "={{$json.body.user.username}}"
            },
            {
              "name": "source_branch",
              "value": "={{$json.body.object_attributes.source_branch}}"
            },
            {
              "name": "target_branch",
              "value": "={{$json.body.object_attributes.target_branch}}"
            },
            {
              "name": "commit_sha",
              "value": "={{$json.body.object_attributes.last_commit.id}}"
            },
            {
              "name": "mr_action",
              "value": "={{$json.body.object_attributes.action}}"
            }
          ]
        },
        "options": {}
      },
      "id": "99c9f0e1-d705-4887-98ff-e568848a9261",
      "name": "Normalize MR Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1872,
        -224
      ]
    },
    {
      "parameters": {
        "url": "=https://lab.ssafy.com/api/v4/projects/1273736/merge_requests/{{$json.mr_iid}}/changes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitlabApi",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "43fb4930-f0c1-48c3-bf7a-73c95cb1c974",
      "name": "Fetch MR Changes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1344,
        -64
      ],
      "credentials": {
        "gitlabApi": {
          "id": "GITLAB_API_CREDENTIAL_ID",
          "name": "GITLAB_API_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "d890f6e9-0af0-46c6-8058-5564f76d3127",
      "name": "Merge MR Meta + Changes",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1152,
        -208
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const rawAuthor = $json.author;\nconst author =\n  typeof rawAuthor === 'string'\n    ? rawAuthor\n    : rawAuthor?.username || rawAuthor?.name || '';\n\nconst mrTitle = $json.mr_title || '';\nconst source = $json.source_branch || '';\nconst target = $json.target_branch || '';\nconst changes = JSON.stringify($json.changes || []).slice(0, 7000);\n\nconst prompt = `\nYou are a strict senior code reviewer for a web game platform.\n\nProject context:\n- Frontend: Phaser-based web game client\n- Backend: Spring Boot API server\n- Auth is managed by Keycloak\n\nTask:\nReview the merge request changes and return ONLY valid UTF-8 JSON.\nDo not include markdown fences, prose outside JSON, or extra keys.\n\nReturn exactly this JSON shape:\n{\n  \"mr_type\": \"fix|feat|docs|refactor|test|chore\",\n  \"summary\": \"Korean summary\",\n  \"overall_risk\": \"low|medium|high\",\n  \"findings\": [\n    {\n      \"severity\": \"high|medium|low\",\n      \"file\": \"path\",\n      \"line_hint\": \"location or symbol\",\n      \"issue\": \"Korean issue\",\n      \"suggestion\": \"Korean suggestion\"\n    }\n  ]\n}\n\nRules:\n- All human-readable text must be in Korean\n- Summary must be concise, 1 to 3 sentences\n- Findings must contain only meaningful issues\n- If no important issues exist, findings must be []\n- Prefer concrete, actionable findings over broad advice\n\nReview priorities:\n1. Bug risk or behavioral regression\n2. Security and trust boundary issues\n3. Runtime stability and null/exception handling\n4. Performance or resource waste\n5. Maintainability\n\nFrontend focus:\n- Phaser lifecycle, scene transitions, duplicate listeners, cleanup leaks\n- Async API handling, race conditions, stale state, broken redirects/callbacks\n- Missing or partial API field handling\n\nBackend focus:\n- Controller/service/config/security regressions\n- Validation, exception handling, null safety, startup risks\n- Unsafe trust of headers, client state, insecure defaults\n\nInput:\n- MR title: ${mrTitle}\n- Author: ${author}\n- Branches: ${source} -> ${target}\n- Changes JSON: ${changes}\n`;\n\nreturn {\n  json: {\n    ...$json,\n    prompt\n  }\n};"
      },
      "id": "d883f36b-5662-4dfd-b165-8c07fe0b2ed7",
      "name": "Build Review Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        32
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/responses",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: $json.selected_model,\n  input: $json.prompt,\n  text: {\n    format: {\n      type: \"json_object\"\n    }\n  }\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "86549e79-61aa-40de-9b1e-4f146d65394c",
      "name": "Request Codex Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        32
      ],
      "credentials": {
        "openAiApi": {
          "id": "OPENAI_API_CREDENTIAL_ID",
          "name": "OPENAI_API_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $input.item.json;\nconst fallback = {\n  mr_type: 'chore',\n  summary: '리뷰 생성은 완료되었지만 파서 fallback이 사용되었습니다.',\n  overall_risk: 'medium',\n  findings: []\n};\n\nlet text = '';\nif (raw.output_text) {\n  text = raw.output_text;\n} else if (Array.isArray(raw.output)) {\n  const chunks = [];\n  for (const o of raw.output) {\n    if (Array.isArray(o.content)) {\n      for (const c of o.content) {\n        if (c.type === 'output_text' && c.text) {\n          chunks.push(c.text);\n        }\n      }\n    }\n  }\n  text = chunks.join('\\n');\n}\n\nlet parsed = fallback;\ntry {\n  parsed = JSON.parse(text);\n} catch (e) {\n  parsed = fallback;\n}\n\nconst findings = Array.isArray(parsed.findings) ? parsed.findings : [];\n\nreturn {\n  json: {\n    ...$json,\n    mr_type: parsed.mr_type || 'chore',\n    summary: parsed.summary || fallback.summary,\n    overall_risk: parsed.overall_risk || 'medium',\n    findings,\n    findings_count: findings.length\n  }\n};"
      },
      "id": "ed7ac55e-b83a-499c-bddc-505d90d6b2b1",
      "name": "Parse Review JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        32
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "0eb8e47d-6402-45e6-a04c-e0b4e61a330f",
      "name": "Merge MR + Review",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -256,
        -192
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://lab.ssafy.com/api/v4/projects/1273736/merge_requests/{{$json.mr_iid}}/notes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gitlabApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "={{$json.comment_markdown}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "523fe2c7-3dd6-4d0a-9e22-e9a979ce406f",
      "name": "Post GitLab Comment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        -368
      ],
      "credentials": {
        "gitlabApi": {
          "id": "GITLAB_API_CREDENTIAL_ID",
          "name": "GITLAB_API_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "GOOGLE_SHEETS_DOCUMENT_ID",
          "mode": "list",
          "cachedResultName": "mr_reviews",
          "cachedResultUrl": "GOOGLE_SHEETS_DOCUMENT_URL"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "시트1",
          "cachedResultUrl": "GOOGLE_SHEETS_DOCUMENT_URL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{$json.status || 'success'}}",
            "mr_title": "={{$json.mr_title}}",
            "author": "={{$json.author}}",
            "source_branch": "={{$json.source_branch}}",
            "target_branch": "={{$json.target_branch}}",
            "mr_type": "={{$json.mr_type}}",
            "overall_risk": "={{$json.overall_risk}}",
            "summary": "={{$json.summary}}",
            "timestamp": "={{$json.timestamp || $now}}",
            "findings_count": "={{$json.findings_count || 0}}",
            "mr_iid": "={{$json.mr_iid}}",
            "commit_sha": "={{$json.commit_sha}}",
            "jenkins_ci_url": "={{$json.jenkins_ci_url || ''}}",
            "jenkins_cd_url": "={{$json.jenkins_cd_url || ''}}",
            "gitlab_mr_url": "={{$json.gitlab_mr_url || ''}}",
            "error_message": "={{$json.error_message || ''}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mr_title",
              "displayName": "mr_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "author",
              "displayName": "author",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_branch",
              "displayName": "source_branch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "target_branch",
              "displayName": "target_branch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mr_type",
              "displayName": "mr_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "overall_risk",
              "displayName": "overall_risk",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "findings_count",
              "displayName": "findings_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mr_iid",
              "displayName": "mr_iid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "commit_sha",
              "displayName": "commit_sha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "jenkins_ci_url",
              "displayName": "jenkins_ci_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "jenkins_cd_url",
              "displayName": "jenkins_cd_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "gitlab_mr_url",
              "displayName": "gitlab_mr_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ab67514b-3150-40e1-acff-3be0b133a7e0",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        -192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "GOOGLE_SHEETS_CREDENTIAL_NAME"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "id": "1f466de5-b553-4095-971f-a19d17396814",
      "name": "Merge Delivery Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        576,
        -208
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, mr_iid: $json.mr_iid, mr_type: $json.mr_type, findings_count: $json.findings_count, overall_risk: $json.overall_risk } }}",
        "options": {}
      },
      "id": "fe65e5b5-01c5-4c67-ab18-9a7f9de13d98",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        752,
        -192
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, skipped: true, reason: 'not-merge-request-event' } }}",
        "options": {}
      },
      "id": "93f873c4-61ac-4f4b-8718-94d5d30b347e",
      "name": "Skip Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        -1360,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const changes = $json.changes || [];\n\nconst totalDiffLength = changes.reduce((sum, change) => {\n  return sum + ((change.diff || '').length);\n}, 0);\n\nconst fileCount = changes.length;\n\nconst changedFiles = changes.map(change =>\n  `${change.new_path || ''} ${change.old_path || ''}`.toLowerCase()\n);\n\nconst highRiskKeywords = [\n  'auth',\n  'security',\n  'jwt',\n  'token',\n  'keycloak',\n  'oauth',\n  'login',\n  'signup',\n  'password',\n  'session',\n  'cookie',\n  'permission',\n  'role',\n  'admin'\n];\n\nconst hasHighRiskFile = changedFiles.some(file =>\n  highRiskKeywords.some(keyword => file.includes(keyword))\n);\n\nconst hasLargeDiff = totalDiffLength > 12000 || fileCount >= 8;\n\nconst selected_model =\n  hasHighRiskFile || hasLargeDiff\n    ? 'gpt-5.3-codex'\n    : 'gpt-5.1-codex-mini';\n\nreturn {\n  json: {\n    ...$json,\n    total_diff_length: totalDiffLength,\n    changed_file_count: fileCount,\n    has_high_risk_file: hasHighRiskFile,\n    has_large_diff: hasLargeDiff,\n    selected_model\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        32
      ],
      "id": "8fe0dfc5-a095-4301-b68c-2d8a596c8ed5",
      "name": "Choose Model"
    },
    {
      "parameters": {
        "jsCode": "const rawAuthor = $json.author;\nconst author =\n  typeof rawAuthor === 'string'\n    ? rawAuthor\n    : rawAuthor?.username || rawAuthor?.name || 'unknown';\n\nconst selectedModel =\n  $json.selected_model ||\n  $('Choose Model').first().json.selected_model ||\n  'unknown';\n\nconst findings = Array.isArray($json.findings) ? $json.findings : [];\n\nreturn {\n  json: {\n    status: 'success',\n    mr_iid: $json.mr_iid,\n    mr_title: $json.mr_title || '',\n    author,\n    source_branch: $json.source_branch || '',\n    target_branch: $json.target_branch || '',\n    mr_type: $json.mr_type || 'chore',\n    overall_risk: $json.overall_risk || 'medium',\n    summary: $json.summary || '',\n    findings,\n    findings_count: findings.length,\n    comment_markdown: $json.comment_markdown || '',\n    commit_sha: $json.commit_sha || '',\n    selected_model: selectedModel,\n    gitlab_mr_url: $json.gitlab_mr_url || '',\n    timestamp: $json.timestamp || new Date().toISOString(),\n    error_message: ''\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -192
      ],
      "id": "f1561754-021f-4ccd-9c11-4998f25ba220",
      "name": "Build Final Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "MATTERMOST_MR_REVIEW_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  text:\n    \"### :shark_cheer2: MR 자동 리뷰 :shark_cheer2:\\n\\n\" +\n    \"**MR**\\n\" +\n    \"[!\" + $json.mr_iid + \" \" + $json.mr_title + \"](\" + ($json.gitlab_mr_url || \"\") + \")\\n\\n\" +\n    \"**작성자**: \" + $json.author + \"\\n\" +\n    \"**브랜치**: `\" + $json.source_branch + \" -> \" + $json.target_branch + \"`\\n\" +\n    \"**모델**: `\" + ($json.selected_model || \"unknown\") + \"`\\n\" +\n    \"**위험도**: `\" + ($json.overall_risk || \"unknown\") + \"`\\n\" +\n    \"**발견 수**: \" + ($json.findings_count || 0) + \"\\n\\n\" +\n    \"**요약**\\n\" +\n    ($json.summary || \"요약 없음\") + \"\\n\\n\" +\n    \"[GitLab에서 보기](\" + ($json.gitlab_mr_url || \"\") + \")\"\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        0
      ],
      "id": "a59131cb-490d-40b5-9084-546b13885c77",
      "name": "Mattermost"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "8203fbc8-ca3a-4903-ada1-1258acdb6841",
              "leftValue": "={{$json.mr_action}}",
              "rightValue": "open",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "76698009-a2c6-4a6e-a8fc-02d61d720630",
              "leftValue": "={{$json.mr_action}}",
              "rightValue": "update",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "2663df41-5ae4-4f7f-8401-59d81ec944c0",
      "name": "Action Filter1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1616,
        -48
      ]
    },
    {
      "parameters": {
        "jsCode": "const summary = $json.summary || '요약 정보가 없습니다.';\nconst overallRisk = $json.overall_risk || 'medium';\nconst findings = Array.isArray($json.findings) ? $json.findings : [];\n\nconst riskLabelMap = {\n  low: 'low',\n  medium: 'medium',\n  high: 'high'\n};\n\nconst lines = [\n  '## 요약',\n  summary,\n  '',\n  '## 위험도',\n  riskLabelMap[overallRisk] || overallRisk,\n  '',\n  '## 주요 이슈'\n];\n\nif (findings.length === 0) {\n  lines.push('- 중요한 이슈 없음');\n} else {\n  for (const finding of findings) {\n    const severity = finding?.severity || 'unknown';\n    const file = finding?.file || 'unknown-file';\n    const lineHint = finding?.line_hint || 'line unknown';\n    const issue = finding?.issue || '문제 설명 없음';\n    const suggestion = finding?.suggestion || '개선 제안 없음';\n\n    lines.push(`- [${severity}] ${file} (${lineHint})`);\n    lines.push(`  - 문제: ${issue}`);\n    lines.push(`  - 제안: ${suggestion}`);\n  }\n}\n\nlines.push('');\nlines.push('## 결론');\n\nif (findings.length === 0) {\n  lines.push('중요한 문제는 보이지 않습니다. 현재 변경은 이 방향으로 진행해도 됩니다.');\n} else {\n  lines.push(`확인된 이슈 ${findings.length}건을 반영한 뒤 다시 검토하는 것이 안전합니다.`);\n}\n\nreturn {\n  json: {\n    ...$json,\n    comment_markdown: lines.join('\\n')\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -192
      ],
      "id": "232ad7cd-bc0c-48d2-b110-310834e35566",
      "name": "Render GitLab Comment"
    }
  ],
  "pinData": {
    "GitLab MR Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.ssafymaker.cloud",
            "content-length": "4806",
            "x-gitlab-instance": "https://lab.ssafy.com",
            "x-gitlab-token": "GITLAB_WEBHOOK_SECRET",
            "content-type": "application/json",
            "user-agent": "GitLab/18.6.2",
            "x-gitlab-event": "Merge Request Hook"
          },
          "params": {},
          "query": {},
          "body": {
            "object_kind": "merge_request",
            "event_type": "merge_request",
            "user": {
              "name": "REDACTED_USER",
              "username": "redacted_user"
            },
            "project": {
              "id": 1273736,
              "name": "S14P21E206",
              "description": "",
              "web_url": "https://lab.ssafy.com/s14-ai-image-sub1/S14P21E206",
              "avatar_url": null,
              "git_ssh_url": "git@lab.ssafy.com:s14-ai-image-sub1/S14P21E206.git",
              "git_http_url": "https://lab.ssafy.com/s14-ai-image-sub1/S14P21E206.git",
              "namespace": "s14-ai-image-sub1",
              "visibility_level": 0,
              "path_with_namespace": "s14-ai-image-sub1/S14P21E206",
              "default_branch": "develop",
              "ci_config_path": null,
              "homepage": "https://lab.ssafy.com/s14-ai-image-sub1/S14P21E206",
              "url": "git@lab.ssafy.com:s14-ai-image-sub1/S14P21E206.git",
              "ssh_url": "git@lab.ssafy.com:s14-ai-image-sub1/S14P21E206.git",
              "http_url": "https://lab.ssafy.com/s14-ai-image-sub1/S14P21E206.git"
            },
            "object_attributes": {
              "assignee_id": 28712,
              "author_id": 28712,
              "created_at": "2026-03-16T14:07:00.646+09:00",
              "description": "## 📌 관련 이슈\n- Jira: S14P21E206-\n\n## 🔧 작업 내용\n<!-- 어떤 작업을 했는지 간단히 설명 -->\n- \n\n## ✅ 체크리스트\n- [ ] 코드 자체 리뷰 완료\n- [ ] 불필요한 console.log 제거\n- [ ] 충돌(Conflict) 없음 확인\n\n## 📷 스크린샷 (선택)\n<!-- UI 변경사항이 있으면 첨부 -->\n\n## 💬 리뷰어에게\n<!-- 리뷰 시 중점적으로 봐줬으면 하는 부분 -->",
              "draft": false,
              "head_pipeline_id": null,
              "id": 860203,
              "iid": 108,
              "last_edited_at": null,
              "last_edited_by_id": null,
              "merge_commit_sha": "61010f4faa42f9ad36e7d3fa5da334645cb9f922",
              "merge_error": null,
              "merge_params": {
                "force_remove_source_branch": "1",
                "should_remove_source_branch": true
              },
              "merge_status": "can_be_merged",
              "merge_user_id": null,
              "merge_when_pipeline_succeeds": false,
              "milestone_id": null,
              "source_branch": "fix/jacksonConfig",
              "source_project_id": 1273736,
              "state_id": 3,
              "target_branch": "develop",
              "target_project_id": 1273736,
              "time_estimate": 0,
              "title": "fix: Jackson Config 파일 수정",
              "updated_at": "2026-03-16T14:23:55.904+09:00",
              "updated_by_id": null,
              "prepared_at": "2026-03-16T14:07:23.006+09:00",
              "assignee_ids": [
                28712
              ],
              "blocking_discussions_resolved": true,
              "detailed_merge_status": "not_open",
              "first_contribution": false,
              "human_time_change": null,
              "human_time_estimate": null,
              "human_total_time_spent": null,
              "labels": [],
              "last_commit": {
                "id": "17640dcea0b56c3ce49130f8c0369467df1146c5",
                "message": "fix: Jackson Config 파일 수정\n",
                "title": "fix: Jackson Config 파일 수정",
                "timestamp": "2026-03-16T14:06:14+09:00",
                "url": "https://lab.ssafy.com/s14-ai-image-sub1/S14P21E206/-/commit/17640dcea0b56c3ce49130f8c0369467df1146c5",
                "author": {
                  "name": "REDACTED_AUTHOR",
                  "email": "REDACTED_EMAIL"
                }
              },
              "reviewer_ids": [],
              "source": {
                "id": 1273736,
                "name": "S14P21E206",
                "description": "",
                "web_url": "https://lab.ssafy.com/s14-ai-image-sub1/S14P21E206",
                "avatar_url": null,
                "git_ssh_url": "git@lab.ssafy.com:s14-ai-image-sub1/S14P21E206.git",
                "git_http_url": "https://lab.ssafy.com/s14-ai-image-sub1/S14P21E206.git",
                "namespace": "s14-ai-image-sub1",
                "visibility_level": 0,
                "path_with_namespace": "s14-ai-image-sub1/S14P21E206",
                "default_branch": "develop",
                "ci_config_path": null,
                "homepage": "https://lab.ssafy.com/s14-ai-image-sub1/S14P21E206",
                "url": "git@lab.ssafy.com:s14-ai-image-sub1/S14P21E206.git",
                "ssh_url": "git@lab.ssafy.com:s14-ai-image-sub1/S14P21E206.git",
                "http_url": "https://lab.ssafy.com/s14-ai-image-sub1/S14P21E206.git"
              },
              "state": "merged",
              "system": false,
              "target": {
                "id": 1273736,
                "name": "S14P21E206",
                "description": "",
                "web_url": "https://lab.ssafy.com/s14-ai-image-sub1/S14P21E206",
                "avatar_url": null,
                "git_ssh_url": "git@lab.ssafy.com:s14-ai-image-sub1/S14P21E206.git",
                "git_http_url": "https://lab.ssafy.com/s14-ai-image-sub1/S14P21E206.git",
                "namespace": "s14-ai-image-sub1",
                "visibility_level": 0,
                "path_with_namespace": "s14-ai-image-sub1/S14P21E206",
                "default_branch": "develop",
                "ci_config_path": null,
                "homepage": "https://lab.ssafy.com/s14-ai-image-sub1/S14P21E206",
                "url": "git@lab.ssafy.com:s14-ai-image-sub1/S14P21E206.git",
                "ssh_url": "git@lab.ssafy.com:s14-ai-image-sub1/S14P21E206.git",
                "http_url": "https://lab.ssafy.com/s14-ai-image-sub1/S14P21E206.git"
              },
              "time_change": 0,
              "total_time_spent": 0,
              "url": "https://lab.ssafy.com/s14-ai-image-sub1/S14P21E206/-/merge_requests/108",
              "work_in_progress": false,
              "action": "open"
            },
            "labels": [],
            "changes": {},
            "repository": {
              "name": "S14P21E206",
              "url": "git@lab.ssafy.com:s14-ai-image-sub1/S14P21E206.git",
              "description": "",
              "homepage": "https://lab.ssafy.com/s14-ai-image-sub1/S14P21E206"
            },
            "assignees": []
          },
          "webhookUrl": "N8N_GITLAB_MR_WEBHOOK_URL",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "GitLab MR Webhook": {
      "main": [
        [
          {
            "node": "Is Merge Request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Merge Request?": {
      "main": [
        [
          {
            "node": "Normalize MR Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize MR Data": {
      "main": [
        [
          {
            "node": "Action Filter1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge MR Meta + Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch MR Changes": {
      "main": [
        [
          {
            "node": "Merge MR Meta + Changes",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge MR Meta + Changes": {
      "main": [
        [
          {
            "node": "Build Review Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge MR + Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Review Prompt": {
      "main": [
        [
          {
            "node": "Choose Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Codex Review": {
      "main": [
        [
          {
            "node": "Parse Review JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Review JSON": {
      "main": [
        [
          {
            "node": "Merge MR + Review",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge MR + Review": {
      "main": [
        [
          {
            "node": "Render GitLab Comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post GitLab Comment": {
      "main": [
        [
          {
            "node": "Merge Delivery Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Merge Delivery Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Delivery Results": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Choose Model": {
      "main": [
        [
          {
            "node": "Request Codex Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Payload": {
      "main": [
        [
          {
            "node": "Post GitLab Comment",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mattermost",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mattermost": {
      "main": [
        [
          {
            "node": "Merge Delivery Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Action Filter1": {
      "main": [
        [
          {
            "node": "Fetch MR Changes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render GitLab Comment": {
      "main": [
        [
          {
            "node": "Build Final Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "5c744dde-aa31-4a52-8218-afd22676d373",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1724212fa31da5ecc6153aad16e3128ee2b6c5786d1822338bebacaf7a629f82"
  },
  "id": "k75Muvma5S2QCWdN",
  "tags": []
}