Infra/n8n_deploy_notify_bot.json
{
  "name": "n8n Deploy Notify Bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jenkins/deploy-notify",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook_jenkins_deploy_notify",
      "name": "Jenkins Deploy Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -960,
        80
      ],
      "webhookId": "jenkins-deploy-notify"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $json.body || {};\n\nconst rawResult = String(body.result || body.status || body.buildResult || 'UNKNOWN').toUpperCase();\nconst result = ['SUCCESS', 'FAILURE', 'UNSTABLE', 'ABORTED', 'NOT_BUILT'].includes(rawResult)\n  ? rawResult\n  : 'UNKNOWN';\n\nconst service = String(body.service || body.component || 'unknown');\nconst environment = String(body.environment || body.env || 'unknown');\nconst jobName = String(body.jobName || body.job_name || body.pipeline || 'unknown-job');\nconst buildNumber = String(body.buildNumber || body.build_number || body.number || '');\nconst buildUrl = String(body.buildUrl || body.build_url || body.url || '');\nconst branch = String(body.branch || body.gitBranch || body.branchName || '');\nconst releaseTag = String(body.releaseTag || body.release_tag || body.version || '');\nconst image = String(body.image || body.imageTag || body.image_tag || '');\nconst targetColor = String(body.targetColor || body.target_color || '');\nconst activeColor = String(body.activeColor || body.active_color || '');\nconst failedStage = String(body.failedStage || body.failed_stage || body.stage || '');\nconst triggeredBy = String(body.triggeredBy || body.triggered_by || '');\nconst message = String(body.message || '');\nconst finishedAt = String(body.finishedAt || body.finished_at || new Date().toISOString());\n\nconst statusMap = {\n  SUCCESS: { emoji: ':white_check_mark:', label: '배포 성공' },\n  FAILURE: { emoji: ':x:', label: '배포 실패' },\n  UNSTABLE: { emoji: ':warning:', label: '배포 불안정' },\n  ABORTED: { emoji: ':stop_sign:', label: '배포 중단' },\n  NOT_BUILT: { emoji: ':double_vertical_bar:', label: '배포 스킵' },\n  UNKNOWN: { emoji: ':grey_question:', label: '배포 상태 미확인' }\n};\n\nconst meta = statusMap[result] || statusMap.UNKNOWN;\nconst lines = [\n  `### ${meta.emoji} Jenkins ${meta.label}`,\n  '',\n  `**잡**: ${jobName}${buildNumber ? ` #${buildNumber}` : ''}`,\n  `**서비스**: ${service}`,\n  `**환경**: ${environment}`\n];\n\nif (branch) lines.push(`**브랜치**: \\`${branch}\\``);\nif (releaseTag) lines.push(`**릴리즈 태그**: \\`${releaseTag}\\``);\nif (image) lines.push(`**이미지**: \\`${image}\\``);\nif (targetColor) lines.push(`**배포 색상**: \\`${targetColor}\\``);\nif (activeColor) lines.push(`**현재 활성 색상**: \\`${activeColor}\\``);\nif (failedStage) lines.push(`**실패 단계**: ${failedStage}`);\nif (triggeredBy) lines.push(`**실행자**: ${triggeredBy}`);\nif (finishedAt) lines.push(`**완료 시각**: ${finishedAt}`);\nif (message) lines.push('', `**메시지**`, message);\nif (buildUrl) lines.push('', `[Jenkins 빌드 열기](${buildUrl})`);\n\nreturn {\n  json: {\n    result,\n    service,\n    environment,\n    jobName,\n    buildNumber,\n    buildUrl,\n    branch,\n    releaseTag,\n    image,\n    targetColor,\n    activeColor,\n    failedStage,\n    triggeredBy,\n    finishedAt,\n    message,\n    mattermostText: lines.join('\\n')\n  }\n};"
      },
      "id": "code_normalize_payload",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://meeting.ssafy.com/hooks/daoqsobzkbrotbpf5boim5k5ue",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.mattermostText }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "http_send_mattermost",
      "name": "Send Mattermost",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -480,
        80
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge_notify_result",
      "name": "Merge Notify Result",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -240,
        80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, result: $json.result, jobName: $json.jobName, buildNumber: $json.buildNumber, mattermostStatusCode: $json.statusCode || null } }}",
        "options": {}
      },
      "id": "respond_webhook",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        0,
        80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Jenkins Deploy Webhook": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Send Mattermost",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Notify Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Mattermost": {
      "main": [
        [
          {
            "node": "Merge Notify Result",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Notify Result": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "b6d8b72c-2f10-4fd7-bcc8-0c0d7f6d8d10",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
