Infra/n8n/workflows/local-jenkins-cron.json
{
  "name": "local-jenkins-cron-trigger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "scheduleTrigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        200
      ]
    },
    {
      "parameters": {},
      "id": "manualTrigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        380
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "branch",
              "value": "develop"
            },
            {
              "name": "reason",
              "value": "cron-or-manual"
            }
          ]
        },
        "options": {}
      },
      "id": "setPayload",
      "name": "Set Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.JENKINS_BASE_URL + '/job/' + $env.JENKINS_JOB_NAME + '/buildWithParameters'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Basic ' + Buffer.from($env.JENKINS_USER + ':' + $env.JENKINS_API_TOKEN).toString('base64')}}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{$env.JENKINS_REMOTE_TOKEN}}"
            },
            {
              "name": "BRANCH_NAME",
              "value": "={{$json.branch}}"
            },
            {
              "name": "N8N_REASON",
              "value": "={{$json.reason}}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "string",
              "neverError": true
            }
          }
        }
      },
      "id": "triggerBuild",
      "name": "Trigger Jenkins Build",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode}}",
              "operation": "smaller",
              "value2": 300
            }
          ]
        }
      },
      "id": "ifSuccess",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1020,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "result",
              "value": "queued"
            },
            {
              "name": "message",
              "value": "Jenkins build request accepted"
            }
          ]
        }
      },
      "id": "setSuccess",
      "name": "Set Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1240,
        220
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "result",
              "value": "failed"
            },
            {
              "name": "message",
              "value": "Jenkins build request failed"
            }
          ],
          "number": [
            {
              "name": "statusCode",
              "value": "={{$json.statusCode}}"
            }
          ]
        }
      },
      "id": "setFailure",
      "name": "Set Failure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1240,
        380
      ]
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Set Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Payload": {
      "main": [
        [
          {
            "node": "Trigger Jenkins Build",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Jenkins Build": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Set Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "meta": {
    "instanceId": "local"
  },
  "id": "local-jenkins-cron-trigger",
  "tags": []
}
